.ch10{
   width: 145px; 
   height: 195px;
   background-image: url(cards.7e0a18f0.png);
   background-position: -139px 196px;
   display: inline-block;
}
.damapik{
    width: 145px; 
    height: 195px;
    background-image: url(cards.7e0a18f0.png);
    background-position: 0px 786px;
    display: inline-block;
    position: relative;
    left: -70px;
    bottom: -100px;
}
.bub9{
    width: 145px; 
    height: 195px;
    background-image: url(cards.7e0a18f0.png);
    background-position: -288px -1392px;
    display: inline-block;
    position: relative;
    left: -140px;
    bottom: -200px;
}
.tuzhr{
    width: 145px; 
    height: 195px;
    background-image: url(cards.7e0a18f0.png);
    background-position: -144px 388px;
    display: inline-block;
    position: relative;
    left: -210px;
    bottom: -300px;
}
.jk{
    width: 145px; 
    height: 195px;
    background-image: url(cards.7e0a18f0.png);
    background-position: 143px 197px;
    display: inline-block;
    position: relative;
    left: -280px;
    bottom: -400px;
}